terraform {

  encryption {
    method "unencrypted" "migrate" {}

    key_provider "aws_kms" "state" {
      kms_key_id = "${kms_key_alias}"
      region = "${region}"
      key_spec = "${key_spec}"
    }

    method "aes_gcm" "aws_state" {
      keys = key_provider.aws_kms.state
    }

    state {
      method = method.aes_gcm.aws_state

      # Remove the fallback block when all workspaces have been migrated to KMS encryption
      fallback {
        method = method.unencrypted.migrate
      }
      # enforced = true # Uncomment this line to enforce KMS encryption and disable fallback to unencrypted state
    }

    plan {
      method = method.aes_gcm.aws_state

      enforced = true
    }
  }

  backend "s3" {
    bucket         = "${state_bucket_name}"
    key            = "${state_key}"
    region         = "${region}"
    use_lockfile   = true
    encrypt        = true
  }
}
